.headerBackground {
  display: flex;
  height: 238px;
  width: 100vw;

  background-image: URL("../../assets/cabecalho.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.headerInfos {
  display: flex;
  gap: 35px;
  padding-left: 20px;
  padding-top: 20px;

  font: 400 18px "Roboto";
  color: rgb(255, 255, 255);
}
