.header {
  margin-bottom: 50px;
  margin-top: -5px;
}

.headerBackground {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 235px;
  width: 100%;
  padding: 0;

  background-image: URL("../../assets/img/header.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menuBurguer {
  margin-top: -105px;
  cursor: pointer;
}

.headerLogo {
  margin-top: -95px;
}
